 <%- include('partials/header.ejs') %>

 <div class="content">

   <h1>About</h1>

   <p>
     Imperdiet nulla malesuada pellentesque elit. Magna ac placerat vestibulum lectus mauris ultrices eros. Dignissim suspendisse in est ante in nibh mauris.
     Hendrerit gravida rutrum quisque non tellus orci. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Gravida arcu ac tortor dignissim convallis aenean. Sit amet commodo nulla facilisi nullam. Tellus in hac habitasse platea
     dictumst vestibulum rhoncus est. Aliquet nec ullamcorper sit amet risus nullam eget. Lectus magna fringilla urna porttitor rhoncus dolor. Non pulvinar neque laoreet suspendisse interdum. At tempor commodo ullamcorper a. Nibh mauris cursus mattis
     molestie a iaculis at erat. Diam phasellus vestibulum lorem sed risus. Ornare arcu dui vivamus a
   </p>


 </div>


 <%- include('partials/footer.ejs') %>
