<%- include('partials/header.ejs') %>


<form class="content" action="/compose" method="post">
  <h1>Compose</h1>
  <input type="text" name="inp" placeholder="Enter Paragraph" style="width:250px" value="">
  <button type="submit" name="button">Submit</button>
</form>


<%- include('partials/footer.ejs')%>
