<%- include('partials/header') %>

<body>
  <h1>Hello</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida tincidunt est vel varius. Donec tincidunt nisi vitae nisl hendrerit, et convallis turpis pretium. Morbi nec ex nec nisl dictum lacinia at eu nunc. Cras nisi metus, ultricies
    a risus id, hendrerit placerat ipsum. Aliquam malesuada, nisi a pharetra pulvinar, orci lectus tristique tellus, ac volutpat risus nisi a leo. Pellentesque ac luctus purus. Vestibulum laoreet eros ut imperdiet ultrices. Duis condimentum porttitor
    nibh, quis vulputate orci pretium et. Etiam cursus neque aliquet efficitur porttitor. Nam ultricies consectetur urna a tincidunt.
  </p>
  <%- include('partials/footer') %>
